.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #8965A1;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
.logout-link {
  color: white;
  text-decoration: none;
  margin-right: auto; 
}
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
}

.logout-link:hover {
  
  text-decoration: none;
}

  
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .app-name {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-bar {
    width: 300px; 
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}

  .moodify {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
   
  }
  
  .moodify-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px; 
    
  }
  
  .moodify-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
  }
  
  .moodify-link:visited {
    color: white;
  }
  
  .moodify-link:hover {
    opacity: 0.8;
  }
  

  .user-info {
    display: flex;
    align-items: center;
    margin-right: 20px; 
  }
  
  .user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  